# folders
.hypothesis/
.idea/
.mypy_cache/
.pytest_cache/
.venv/
.vscode/
__pycache__/
dist/
node_modules/
results/
starlite/starlite.egg-info/
build/

# files
*.iml
.coverage
.DS_Store
.python-version
coverage.*
setup.py
