# folders
.hypothesis/
.idea/
.mypy_cache/
.pytest_cache/
.venv/
.vscode/
__pycache__/
dist/
build/
cython_build/
node_modules/
results/

# files
*.iml
.coverage
.DS_Store
.python-version
coverage.*
**/*.so
setup.py
